
{{ define "side-bar" }}
<amp-sidebar id="sidebar" layout="nodisplay" side="left">
  <button class="close" role="button" on="tap:sidebar.close">×</button>
  <ul>
    <li><a href="/">Home</a></li>
    {{ range $category := .Categories }}
    <li>
      <a href="/{{$category.ID}}">{{$category.Name}}</a>
      <ul>
        {{ range $product := $category.Products }}
        <li>
          <a href="/{{$category.ID}}#{{$product.ID}}">
            {{$product.Name}}
            {{ if $product.Acronym }}
              ({{$product.Acronym}})
            {{end}}
          </a>
          <ul>
          {{ range $lesson := $product.Lessons }}
            <li><a href="{{$lesson.Href}}">{{$lesson.Name}}</a></li>
          {{ end }}
          </ul>
        </li>
        {{ end }}
      </ul>
    </li>
    {{ end }}
  </ul>
</amp-sidebar>
{{ end }}
